pve_nodes              = ["pve0", "pve1", "pve2"]
vm_count               = 3
vm_cpu_cores_number    = 1
vm_cpu_type            = "host"
vm_disk_size           = 20
vm_id                  = 1100
vm_memory_max          = 1024
vm_memory_min          = 1024
vm_name                = "rocky"
vm_hostname            = "rocky"
vm_socket_number       = 1
vm_datastore_id        = "local-lvm"
vm_ip_offset           = 210
