pve_node        = "pve2"
vm_cpu_cores    = 1
vm_cpu_type     = "host"
vm_disk_size    = 20
vm_id           = 500
vm_memory       = 2048
vm_name         = "ffmeg-streamer"
vm_hostname     = "ffmeg-streamer"
vm_datastore_id = "local-zfs"
vm_ipv4_address = "192.168.10.108/24"
vm_ipv4_gateway = "192.168.10.1"
vm_dns          = ["192.168.10.4"]

