pve_node        = "pve1"
vm_cpu_cores_number    = 1
vm_cpu_type            = "host"
vm_disk_size           = 20
vm_id                  = 500
vm_memory_max          = 1024
vm_memory_min          = 1024
vm_name                = "ffmeg-streamer"
vm_hostname            = "ffmeg-streamer"
vm_datastore_id        = "local-lvm"
vm_ip                  = 205
