pve_nodes              = ["pve0", "pve1"]
vm_count               = 2
vm_cpu_cores_number    = 1
vm_cpu_type            = "host"
vm_disk_size           = 10
vm_id                  = 120
vm_memory_max          = 1024
vm_memory_min          = 1024
vm_name                = "ubuntu"
vm_hostname            = "ubuntu"
vm_socket_number       = 1
vm_datastore_id        = "local-lvm"
vm_ip_offset           = 200
